project:
  type: website
  resources:
    - "images/twitter-card.png"
    - "course-materials/_slides/"
    
website:
  page-navigation: true
  title: "Data Science in a Box"
  description: "Data Science in a Box contains the materials required to teach (or learn from) the course described above, all of which are freely-available and open-source."
  site-url: "https://datasciencebox.org/"
  
  repo-url: https://github.com/rstudio-education/datascience-box
  repo-actions: none

  
  open-graph: true
  twitter-card:
    creator: "@minebocek"
    image: "/images/twitter-card.png"

  page-footer:
    background: "#A7D5E8"
    left: "This page is built by Kim Hung Bui. [kimhungbuiwork@gmail.com](mailto:kimhungbuiwork@gmail.com)"
    center:
      - text: |
          **DỊCH VỤ XÂY DỰNG CÔNG THỨC**  
          Hotline: **0703502938**
    # right:
    #   - text: "License"
    #     href: LICENSE.md
    #   - text: "Code of Conduct"
    #     href: CODE_OF_CONDUCT.md

  navbar:
    background: "#A7D5E8"
    logo: "images/dsbox.png"
    align: center
    title: false
    collapse-below: lg
 
    right:
      - icon: github
        href: https://github.com/rstudio-education/datascience-box
        aria-label: GitHub
      - icon: cloud-fill
        href: https://rstudio.cloud/spaces/1655/join?access_code=5rdjusfIYF5iI0Gum2vNsBDLdtdnIEELBkf2EivK
        aria-label: RStudio Cloud

    left:
      - text: "Trang chủ"
        href: index.qmd
      - text: "Đập phá – Tháo dỡ"
        href: hello.qmd
      # - text: "Thu mua xác nhà, xưởng"
      #   href: content.qmd
      - text: "Đào móng – San lấp"
        href: design.qmd
      # - text: "Cải tạo – Sửa chữa"
      #   href: infrastructure.qmd
      - text: "Liên hệ"
        href: lien-he.qmd

  sidebar:
    - id: hello-dsbox
      title: "Hello #dsbox!"
      style: "floating"
      collapse-level: 2
      align: left
      contents:
        - href: hello.qmd
        - href: 01-overview.qmd
        - href: 01-design-principles.qmd
        - href: 01-topics.qmd
        - href: 01-tech-stack.qmd
        - href: 01-community.qmd

    - id: content
      title: "Content"
      contents:
        - href: content.qmd
        - href: 02-hello-world.qmd
        - href: 02-exploring-data.qmd
        - href: 02-ethics.qmd
        - href: 02-making-rigorous-conclusions.qmd
        - href: 02-looking-further.qmd
        - href: 02-interactive-tutorials.qmd
        - href: 02-project.qmd
        - href: 02-exams.qmd

    - id: infrastructure
      title: "Infrastructure"
      contents:
        - href: infrastructure.qmd
        - href: 03-access-r.qmd
        - href: 03-version-control.qmd
        - href: 03-discussion.qmd
        - href: 03-sharing.qmd
        - href: 03-alternative-setups.qmd

    - id: design
      align: left
      contents:
        - href: design.qmd
        - href: 04-pedagogy.qmd
        - href: 04-schedule.qmd

format:
  html:
    theme:
      light: [cosmo, style/dsbox.scss]
      dark: [cosmo, style/dsbox.scss, style/dark.scss]
    toc: true
    toc-title: "Nội dung trang"  # Thay thế "On this page" tại đây
    toc-location: right
    code-copy: true
    code-overflow: wrap
    mainfont: "Roboto"
    include-in-header: "style/fontawesome.html"
    include-after-body:
      - include/floating-contact.html

execute:
  freeze: true
  enabled: false

  
editor: visual
